In [26]:
import numpy as np
import pandas as pd 
import scipy.stats
import matplotlib.pyplot as plt 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 
from sklearn.svm import SVC

In [2]:
Целевой переменной является уровень дохода income (крайний правый столбец).
Описание признаков можно найти по ссылке www.cs.toronto.edu...etail.html
Вам необходимо построить модели логистической регрессии и SVM, которые предсказывает уровень дохода человека.
Вывести качество полученных моделей на тестовой выборке, используя функцию score у модели.
Готовый ноутбук выложить на гитхаб и прислать ссылку.

SyntaxError: invalid syntax (<ipython-input-2-0a8850231a52>, line 1)

In [3]:
adult = pd.read_csv('C:\\jupyter\ML\\lection2\\adult.csv', na_values = '?')

In [4]:
adult.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

In [5]:
#проверяем заполненность данных. Есть пропущенные данные в колонке workclass, occupation, native country
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        46043 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       46033 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   47985 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [72]:
#заполняем пустые строки нолями

In [6]:
adult = adult[pd.isnull(adult['workclass']) == 0]
adult = adult[pd.isnull(adult['occupation']) == 0]
adult = adult[pd.isnull(adult['native-country']) == 0]

In [7]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45222 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45222 non-null  int64
 1   workclass        45222 non-null  object
 2   fnlwgt           45222 non-null  int64
 3   education        45222 non-null  object
 4   educational-num  45222 non-null  int64
 5   marital-status   45222 non-null  object
 6   occupation       45222 non-null  object
 7   relationship     45222 non-null  object
 8   race             45222 non-null  object
 9   gender           45222 non-null  object
 10  capital-gain     45222 non-null  int64
 11  capital-loss     45222 non-null  int64
 12  hours-per-week   45222 non-null  int64
 13  native-country   45222 non-null  object
 14  income           45222 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.5+ MB

Согласно расшифровке значений стоблцов, логичнее всего для предсказания заработной платы (income) использовать столбцы workclass, education, occupation

In [8]:
adult_selected =  adult[['workclass', 'education', 'occupation']]

In [9]:
#значения workclass, education и occupation являются категориальными переменнымии, переводим их при помощи функции get_dummies
adult_selected_category = pd.get_dummies(adult_selected)

In [10]:
#целевая переменная income тоже является категориальной, переводим ее в числа при помощи функции labelEncoder
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [11]:
LE.fit(adult['income'])

LabelEncoder()

In [12]:
target_value = pd.Series(data = LE.transform(adult['income']))

In [13]:
#используем модель простой логистической регрессии (без pipeline)

In [14]:
model = LogisticRegression(max_iter=10000)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(adult_selected_category, target_value, test_size = 0.3, random_state = 11)

In [16]:
model.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

In [23]:
model.predict(X_test)[:5]

array([1, 0, 0, 0, 0])

In [24]:
model.score(X_train, y_train)

0.7823408624229979

In [25]:
model.score(X_test, y_test)

0.7797597110636102

Метод опорных векторов. SVM. (без использования pipeline)

In [38]:
svc = SVC(gamma = 'auto')

In [39]:
svc.fit(X_train, y_train)

SVC(gamma='auto')

In [40]:
svc.predict(X_test)[:5]

array([0, 0, 0, 0, 0])

In [41]:
svc.score(X_train, y_train)

0.7749170747117359

In [42]:
svc.score(X_test, y_test)

0.7721677600058967

In [31]:
#попробуем применить pipeline

In [43]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [44]:
clf = make_pipeline(StandardScaler(), SVC(gamma = 'auto'))

In [45]:
clf.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

In [46]:
svc.score(X_train, y_train)

0.7749170747117359

In [47]:
svc.score(X_test, y_test)

0.7721677600058967